<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Inventory App</title>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="pageContent">
      <h2 style="color: white">Games</h2>
      <div class="gameCardWrapper">
        <% games.forEach(element => { %>
        <div class="gameCard">
          <div><%- element.game%></div>
          <div><%- element.developers%></div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
