<nav class="navContainer">
  <div class="navbar-left">
    <a class="navButton" href="/">home</a>
  </div>
  <div class="navbar-middle">
    <input
      id="search"
      type="text"
      autocomplete="sex"
      placeholder="Search"
      class="search"
    />
  </div>
  <div class="navbar-right">
    <a class="navButton" href="/create/game">Add game</a>
    <a class="navButton" href="/create/genre">Add genre</a>
    <a class="navButton" href="/create/dev">Add dev</a>
    <a class="navButton" href="/create/dev">Add Platform</a>
  </div>
</nav>
