@font-face {
  font-family: jetBrains-mono;
  src: url("./fonts/JetBrainsMono-Regular.ttf");
  font-weight: normal;
}

:root {
  --primary: #ffffff;

  --secondary-1: #01040f;
  --secondary-2: #1e2025;
  --secondary-3: #35373d;
  --secondary-4: #4f5055;

  --success: #22946e;
  --danger: #9c2121;
}
html {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0px;
  font-family: jetBrains-mono, sans-serif;
}
/* * {
  outline: 1px solid var(--danger);
} */

body {
  min-height: 100vh;
  min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
  /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
  display: flex;
  /* same with this*/
  flex-direction: column;
  background-color: var(--secondary-1);
}

.navContainer {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 35vw) 1fr;
  justify-content: space-between;
  height: 50px;
  background-color: var(--secondary-2);
  padding: 10px 10px;
}

#search {
  width: clamp(100px, 35vw, 800px);
  margin: 0px 10px;
  font-size: 20px;
  background-color: var(--secondary-4);
  color: var(--primary);

  height: 50px;
}
.search {
  padding: 0px 10px;
  border-radius: 5px;

  background-color: var(--secondary-4);
  color: var(--primary);

  border: var(--secondary-2) solid 1px;
}
.search:focus {
  border: var(--secondary-2) solid 1px;
  box-shadow: none;
  outline: none;
}
.search::placeholder {
  color: var(--primary);
}
.navbar-left {
  display: flex;
  justify-self: start;
}
.navbar-middle {
  display: flex;
  justify-content: center; /* keeps search centered in the middle column */
  align-items: center;
  min-width: 0; /* important so children can shrink in grid/flex */
}
.navbar-right {
  display: flex;
  justify-self: end;
  gap: 10px;
}

.navButton {
  display: flex;
  color: var(--primary);
  border: var(--secondary-2) solid 1px;
  border-radius: 5px;
  background-color: var(--secondary-4);
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  white-space: nowrap;
}

.formContainer {
  align-self: center;
  background-color: var(--secondary-3);
  color: var(--primary);
  width: clamp(100px, 35vw, 1000px);
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.formContainer form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

#gameSubmit {
  width: 100%;
  grid-column: span 2;
}
.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
}
.gameCardWrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.gameCard {
  color: var(--primary);
  background-color: var(--secondary-3);
  display: flex;
  align-items: center;
  height: 300px;
  min-width: 250px;
  border-radius: 5px;
  flex-direction: column;
}

.defaultText {
  color: var(--primary);
  font-size: 20px;
}

.developerSelect {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
